################################################################################
##                             Network interface                              ##
################################################################################
server:
    # Address to which we bind (default: 127.0.0.1)
    address: "0.0.0.0"
    # Port on which we bind (default: 3000)
    port: 3000

################################################################################
##                               Logging options                              ##
################################################################################
logging:
    # The name of the folder where the logs are stored.
    folder: logs
    # Values: error, warn, info, http, verbose, debug, silly
    level: http
    # Default to false
    console: true

node:
  interval: 600
  max_txs: 256
  ipfs_api_url: https://api-ipfs.bosagora.info
  ipfs_gateway_url: https://ipfs.bosagora.info
  ipfs_test: false

scheduler:
  enable: true
  items:
    - name: node
      enable: true
      interval: 1

